[submodule "pack/plugins/start/vim-haskell-indent"]
	path = pack/plugins/start/vim-haskell-indent
	url = https://github.com/itchyny/vim-haskell-indent
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/colors/start/sixteen"]
	path = pack/colors/start/sixteen
	url = https://github.com/brendantang/sixteen-vim.git
[submodule "pack/plugins/start/vim-rails"]
	path = pack/plugins/start/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "pack/plugins/start/vimwiki"]
	path = pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "pack/plugins/start/nnn.vim"]
	path = pack/plugins/start/nnn.vim
	url = git@github.com:mcchrish/nnn.vim.git
[submodule "pack/plugins/start/markdown-preview.nvim"]
	path = pack/plugins/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
